@rem:75rem;
.alliance{
    padding-top: 78/@rem;
    //联盟页面的雪碧图
    .sprite-alliance{
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        background: url(../未标题-1.png)  no-repeat;
        background-size: 400/@rem;
    }
    .alliance-sign-in{
        display: flex;
        justify-content: space-around;
        padding-top: 29px;
        .alliance-sign-in-item{
            span{
                display: block;
                overflow: visible;
                white-space: nowrap;
                width: 73px;
                height: 0px;
                padding-top: 73px;
                font-size: 22/@rem;
                line-height: 48/@rem;
                text-indent: -7/@rem;
            }
            .one{
                background-position: 0px 0px;
            }
            .two{
                background-position: -79/@rem 0;
            }
            .three{
                background-position: -158/@rem 0;
            }
            .four{
                background-position: -237/@rem 0;
            }
            .five{
                background-position: -316/@rem 0;
            }
        }
    }
}
