.style_one {
  background: url(../img/entry-bg1.jpg) no-repeat;
  background-size: cover;
}
.style_one .m-gift h2 {
  background: url(../img/txt1.png) no-repeat;
  background-size: 4.62666667rem;
}
.style_one .tick {
  color: #F3B908;
}
.style_one .meet-page {
  padding: 0.68rem 0 0 1.37333333rem;
  height: 2rem;
}
.style_one .meet-page span {
  display: block;
}
.style_one .meet-page div {
  float: left;
  min-width: 4rem;
}
.style_one .meet-page .y-t {
  font-size: 0.29333333rem;
  line-height: 0.48rem;
  padding-bottom: 0.10666667rem;
  color: #F3B908;
}
.style_one .meet-page .text {
  font-size: 0.24rem;
  line-height: 0.41333333rem;
  color: #fff;
}
.style_two {
  background: url(../img/entry-bg2.jpg) no-repeat;
  background-size: cover;
}
.style_two .m-gift h2 {
  background: url(../img/txt2.png) no-repeat;
  background-size: 4.62666667rem;
}
.style_two .tick {
  color: #fff;
}
.style_two .meet-page {
  position: relative;
}
.style_two .meet-page span {
  display: block;
  text-align: center;
  padding: 0 0.8rem;
}
.style_two .meet-page .y-t {
  color: #d4ffff;
  line-height: 0.61333333rem;
}
.style_two .meet-page .text {
  color: #fff;
}
.style_two .meet-page:after {
  content: '';
  background: url(../img/border2.png) no-repeat;
  background-size: 8.53333333rem;
  position: absolute;
  width: 8.53333333rem;
  height: 1.68rem;
  left: 0.73333333rem;
  bottom: -0.53333333rem;
}
.m-gift {
  padding: 1.2rem 0 0 0;
}
.m-gift h1 {
  margin: 0;
  background: url(../img/logo.png) no-repeat;
  background-size: 2.69333333rem;
  text-indent: -133333.32rem;
  width: 2.69333333rem;
  height: 0.84rem;
  margin-left: 1.02666667rem;
  margin-bottom: 1.10666667rem;
}
.m-gift h2 {
  text-indent: -13333333.32rem;
  width: 4.62666667rem;
  height: 2.05333333rem;
  margin: 0 auto 0.76rem;
}
.gift-box .name {
  font-size: 0.29333333rem;
  line-height: 0.57333333rem;
  color: #fff;
  text-align: center;
  margin-bottom: 0.08rem;
}
.gift-box .name em {
  display: inline-block;
  vertical-align: top;
  font-size: 0.34666667rem;
  font-weight: 600;
  font-style: normal;
  color: #f3b908;
  margin: 0 0.05333333rem;
}
.gift-box .meet-name {
  font-size: 0.42666667rem;
  line-height: 1.05333333rem;
  font-weight: 600;
  color: #f3b908;
  text-align: center;
}
.gift-box .meet-info {
  padding: 0 1.36rem;
  color: #fff;
  font-size: 0.29333333rem;
  line-height: 0.61333333rem;
  text-align: center;
}
.gift-box .pic {
  display: block;
  width: 2.13333333rem;
  height: 2.13333333rem;
  margin: 0.66666667rem auto 0;
}
.gift-box .tick {
  font-size: 0.45333333rem;
  line-height: 1.41333333rem;
  text-align: center;
}
.gift-box .tick em {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
  font-size: 0.8rem;
  font-style: normal;
}
.foot {
  font-size: 0.24rem;
  color: #fff;
  text-align: center;
  line-height: 2.13333333rem;
}
