@rem: 75rem;
// 教师列表页和联盟校列表页共用css
.check-head {
    padding: 0.4rem 0 0 0.4rem;
}

.expert-content {
    padding: 0.4rem 0 0 0.4rem;
    margin-top: 40/@rem;
    .course-type{
        width: 690/@rem;
    }
    .active {
        background-color: red;
    }
    .taf-box {
        padding: 0 !important;
        margin-top: 30/@rem;
    }
}