@rem:75rem;

.sprite-form{
    display: inline-block;
    height: 0;
    overflow: hidden;
    background: url(../img/form-sprite.png) no-repeat;
    background-size: 333/@rem;
}

.form{
    .form-title{
        
    }
}

