.home {
  padding: 1.04rem 0 1.66666667rem 0;
}
.home .sprite-home {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  background: url('../img/home-sprite.png') no-repeat;
  background-size: 8.78666667rem;
}
.home .title-box {
  padding: 0 0.4rem;
  height: 0.92rem;
  border-bottom: 1px solid #d0d1d2;
}
.home .title-box .title {
  font-size: 0.4rem;
  line-height: 0.92rem;
  color: #142434;
  position: relative;
  left: 0.22666667rem;
}
.home .title-box .title::before {
  content: "";
  position: absolute;
  top: 0.29333333rem;
  left: -0.22666667rem;
  width: 0.06666667rem;
  height: 0.30666667rem;
  background-color: #1b9fe2;
}
.home .title-box .more {
  padding-top: 0.09333333rem;
  line-height: 0.84rem;
}
.home .btn {
  width: 1.37333333rem;
  height: 0.44rem;
  background-color: red;
  color: #fff;
  text-align: center;
  border-radius: 0.08rem;
  font-size: 0.26666667rem;
  line-height: 0.42666667rem;
}
.home .list {
  padding: 0.45333333rem 0 0 0.42666667rem;
}
.home .list .list-item {
  width: 4.36rem;
  margin-right: 0.42666667rem;
  margin-bottom: 0.28rem;
}
.home .list .list-item:nth-of-type(2n) {
  margin-right: 0;
}
.home .list .list-item .pic {
  position: relative;
}
.home .list .list-item .pic .pic-title {
  position: absolute;
  width: 3.68rem;
  height: 1.12rem;
  background-color: rgba(8, 71, 116, 0.5);
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.56rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-1.84rem) translateY(-0.56rem);
}
.home .list .list-item .pic .num {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.04rem;
  height: 0.52rem;
  line-height: 0.52rem;
  text-align: center;
  font-size: 0.24rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: red;
}
.home .list .list-item img {
  display: block;
  width: 4.36rem;
  margin-bottom: 0.10666667rem;
}
.home .list .list-item .item-txt {
  background-color: #f0f1f6;
  position: relative;
}
.home .list .list-item .item-txt .btn {
  position: absolute;
  bottom: 0.38666667rem;
  right: 0.28rem;
}
.home .list .list-item .txt {
  padding: 0.12rem 0 0.29333333rem 0.2rem;
}
.home .list .list-item .txt span {
  display: block;
  font-size: 0.25333333rem;
  line-height: 0.4rem;
}
.home .list .list-item .txt .txt-title {
  font-size: 0.33333333rem;
  font-weight: 600;
  color: red;
  line-height: 0.62666667rem;
}
.home .search {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 1.02666667rem;
  background-color: #1b9fe2;
  border-top: 1px solid #1b9fe2;
}
.home .search .search-box {
  width: 9.2rem;
  height: 0.69333333rem;
  border-radius: 3px;
  margin: 0.17333333rem auto 0;
  font-size: 0.26666667rem;
  color: #9b9b9b;
  line-height: 0.69333333rem;
  text-align: center;
  background-color: #fff;
}
.home .search .search-box span {
  display: inline-block;
  vertical-align: top;
}
.home .search .search-box .sprite-home {
  width: 0.36rem;
  height: 0;
  padding-top: 0.36rem;
  margin: 0.17333333rem 0.34666667rem 0 0;
}
.home .news {
  height: 0.73333333rem;
  background-color: #f7f8fa;
}
.home .news .sprite-home {
  width: 0.41333333rem;
  height: 0;
  padding-top: 0.41333333rem;
  background-position: -8.37333333rem 0;
  margin: 0.16rem 0.21333333rem 0 0.4rem;
}
.home .news .news-box {
  height: 0.73333333rem;
  overflow: hidden;
}
.home .news .news-box a {
  display: block;
  width: 8rem;
  height: 0.73333333rem;
  line-height: 0.73333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #1b9fe2;
}
.home .btns {
  padding: 0.37333333rem 0 0 0.62666667rem;
}
.home .btns .btns-item {
  float: left;
  width: 1.25333333rem;
  height: 1.6rem;
  margin: 0 1.28rem 0.17333333rem 0;
  text-align: center;
}
.home .btns .btns-item a {
  display: block;
  height: 100%;
}
.home .btns .btns-item .sprite-home {
  width: 0.98666667rem;
  height: 0;
  padding-top: 0.98666667rem;
  color: #4e5f6f;
  text-align: left;
  text-indent: -0.09333333rem;
  overflow: visible;
  white-space: nowrap;
  line-height: 0.61333333rem;
}
.home .btns .btns-item:nth-of-type(1) .sprite-home {
  background-position: -0.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(2) .sprite-home {
  background-position: -1.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(3) .sprite-home {
  background-position: -2.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(4) .sprite-home {
  background-position: -3.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(5) .sprite-home {
  background-position: -4.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(6) .sprite-home {
  background-position: -5.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(7) .sprite-home {
  background-position: -6.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(8) .sprite-home {
  background-position: -7.37333333rem 0;
}
.home .btns .btns-item:nth-of-type(4n) {
  margin-right: 0;
}
.home .meeting {
  margin-top: 0.32rem;
}
.home .meeting .meeting-box {
  margin-top: 0.4rem;
  padding-left: 0.81333333rem;
  width: 8.68rem;
  color: #666;
}
.home .meeting .meeting-box li {
  border-bottom: 1px solid #d0d1d2;
  margin-bottom: 0.17333333rem;
}
.home .meeting .meeting-box li a {
  display: block;
  height: 1.53333333rem;
}
.home .meeting .meeting-box li:nth-last-of-type(1) {
  border: none;
}
.home .meeting .meeting-box li.active .date {
  background-color: red;
  color: #fff;
}
.home .meeting .meeting-box li.active .meeting-title {
  color: red;
}
.home .meeting .meeting-box img {
  width: 1.84rem;
  height: 1.26666667rem;
  margin: 0 0.42666667rem 0.26666667rem 0;
}
.home .meeting .meeting-box .date {
  width: 1.14666667rem;
  height: 1.16rem;
  padding-top: 0.10666667rem;
  box-sizing: border-box;
  background-color: #eaebed;
  border-radius: 3px;
  margin: 0.05333333rem 0.21333333rem 0 0;
  text-align: center;
}
.home .meeting .meeting-box .date span {
  display: block;
}
.home .meeting .meeting-box .date .days {
  font-size: 0.34666667rem;
  line-height: 0.53333333rem;
}
.home .meeting .meeting-box .date .time {
  font-size: 0.24rem;
  line-height: 0.4rem;
}
.home .meeting .meeting-box .meeting-info {
  margin-top: 0.08rem;
  width: 5.04rem;
}
.home .meeting .meeting-box .meeting-info .meeting-title {
  display: block;
  width: 5.04rem;
  height: 0.57333333rem;
  font-size: 0.32rem;
  font-weight: 600;
  line-height: 0.57333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home .meeting .meeting-box .meeting-info .btn {
  margin-top: 0.08rem;
}
.home .meeting .meeting-box .meeting-info span:nth-of-type(2) {
  line-height: 0.53333333rem;
}
.home .taf .taf-box {
  padding: 0.48rem 0 0.26666667rem 0.4rem;
}
.home .taf .taf-box li {
  width: 4.4rem;
  margin-right: 0.4rem;
}
.home .taf .taf-box li:nth-of-type(2n) {
  margin-right: 0;
}
.home .taf .taf-box li .person {
  padding: 0.33333333rem 0 0 0.26666667rem;
  color: #142434;
  background-color: #f9fcfd;
  margin-bottom: 0.12rem;
}
.home .taf .taf-box li .person-info {
  width: 2.13333333rem;
}
.home .taf .taf-box li .person-info span {
  display: block;
}
.home .taf .taf-box li .person-info .name {
  font-size: 0.34666667rem;
  line-height: 0.61333333rem;
  margin-top: 0.6rem;
  font-weight: 600;
}
.home .taf .taf-box li .person-info .job {
  font-size: 0.24rem;
  line-height: 0.53333333rem;
  height: 0.53333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home .taf .taf-box li .pic {
  width: 1.76rem;
  height: 1.76rem;
  margin-bottom: 0.30666667rem;
}
.home .taf .taf-box li .pic .pic {
  width: 100%;
  height: 100%;
}
.home .taf .taf-box li .person-text {
  background-color: #f2f3f4;
}
.home .taf .taf-box li .person-text p {
  padding: 0.14666667rem 0.22666667rem 0.04rem 0.2rem;
  font-size: 0.24rem;
  line-height: 0.37333333rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.home .taf .taf-box li .person-text .btn {
  margin-right: 0.25333333rem;
  margin-bottom: 0.22666667rem;
}
.home .bird .pic .pic-title {
  line-height: 1.12rem !important;
}
.home .school .school-box {
  padding: 0.38666667rem 0 0 0.38666667rem;
  margin-bottom: 0.4rem;
}
.home .school .school-box li {
  width: 4.41333333rem;
  margin-right: 0.42666667rem;
  background-color: #f8f8f9;
}
.home .school .school-box li:nth-of-type(2n) {
  margin: 0;
}
.home .school .school-box li img {
  display: block;
  width: 2.50666667rem;
  height: 2.50666667rem;
  margin: 0.42666667rem auto 0;
}
.home .school .school-box li span {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.home .school .school-box li span:nth-of-type(1) {
  font-size: 0.34666667rem;
  color: #142434;
  font-weight: 600;
  line-height: 0.86666667rem;
}
.home .school .school-box li span:nth-of-type(2) {
  font-size: 0.26666667rem;
  color: #3c3e3f;
  line-height: 0.45333333rem;
}
.home .school .school-box li span:nth-of-type(3) {
  width: 1.6rem;
  height: 0.52rem;
  margin-top: 0.30666667rem;
  margin-bottom: 0.42666667rem;
  font-size: 0.29333333rem;
  color: #fff;
  line-height: 0.52rem;
  background-color: red;
  border-radius: 0.13333333rem;
}
.home .teacher .teacher-box {
  padding: 0.49333333rem 0 0 0.38666667rem;
}
.home .teacher .teacher-box li {
  margin-bottom: 0.45333333rem;
}
.home .teacher .teacher-box img {
  width: 2.88rem;
  height: 2.02666667rem;
}
.home .teacher .teacher-box .l-txt {
  width: 5.84rem;
  margin-left: 0.49333333rem;
}
.home .teacher .teacher-box .l-txt .naj {
  margin-bottom: 0.08rem;
}
.home .teacher .teacher-box .l-txt .naj span {
  display: block;
  font-size: 0.30666667rem;
  line-height: 0.53333333rem;
  color: #3c3e3f;
}
.home .teacher .teacher-box .l-txt .look-btn {
  width: 0.88rem;
  height: 0.88rem;
  border: 1px solid #d0d1d2;
  background-color: #ebebeb;
  border-radius: 0.08rem;
  color: #666;
  text-align: center;
  margin-top: 0.04rem;
  font-size: 0.24rem;
  line-height: 0.29333333rem;
  padding: 0.14666667rem;
  box-sizing: border-box;
}
.home .teacher .teacher-box .l-txt .info {
  font-size: 0.26666667rem;
  line-height: 0.46666667rem;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
