*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fbfbfb;
}
li{
	list-style: none;
}
#contact-box{
	font-size: .16rem;
}
#contact-box li{
	margin-top: .2rem;
	padding-top: .2rem;
	background-color: #fff;
	border-bottom: 1px solid #dcdcdc;
}
#contact-box .contact-head{
	height: .43rem;
	line-height: .43rem;
	padding-left: .62rem;
}
.contact-head .contact-name{
	float: left;
}
.contact-head .contact-name span:nth-of-type(1){
	margin-right: .16rem;
}
.contact-head .contact-name span,.contact-head .contact-delete span{
	color: #666666;
}
.contact-head .contact-delete{
	float: right;
	margin-right: 1rem;
}
.contact-head .contact-delete i{
	display: inline-block;
	width: .24rem;
	height: .26rem;
	background: url(../image/deleteIco.png) no-repeat center center;
	background-size: cover;
	vertical-align: middle;
    margin-top: -2px;
}
.contact-content{
	padding-left: .62rem;
	background-color: #fff;
	padding-top: .2rem;
	padding-bottom: .13rem;
}
.contact-content .professional{
	color: #6c6c6c;
	line-height: .32rem;
}
.contact-content .mobile-phone{
	line-height: .32rem;
}
.contact-content .mobile-phone span:nth-of-type(1){
	width: 2.88rem;
	display: inline-block;
}
.contact-content .mobile-phone span{
	color: #6c6c6c;
}

.nav-item{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1.03rem;
	border-top: 1px solid #d4d7dd;
	font-size: .16rem;
}
.nav-item .nav-apply{
	width: 1.66rem;
	height: 1.66rem;
	border:1px solid #d4d7dd;
	border-radius: 50%;
	text-align: center;
	position: relative;
	top: -.24rem;
	margin:0 auto;
	background-color: #fff;
}
.nav-item .nav-apply i {
	display: block;
	width: .65rem;
	height: .42rem;
	background: url(../image/apply.png) no-repeat;
	background-size: cover;
	text-align: center;
	margin: 0 auto;
	margin-top: .4rem;
}
.nav-item .nav-apply span,.nav-item .nav-home span,.nav-item .nav-oneDay span{
	color: #8c8c8c;
}
.nav-item .nav-home,.nav-item .nav-oneDay{
	float: left;
	margin-top: .16rem;
}
.nav-item .nav-home{
	padding-right: .4rem;
	padding-left: .4rem;
}
.nav-item .nav-home i{
	display: block;
	width: .42rem;
	height: .41rem;
	background: url(../image/home.png) no-repeat;
	background-size: cover;
	margin: 0 auto;
}
.nav-item .nav-oneDay i{
	display: block;
	width: .4rem;
	height: .41rem;
	background: url(../image/oneDay.png) no-repeat ;
	background-size: cover;
	margin: 0 auto;
}
.nav-item .nav-enter{
	position: absolute;
	top: .16rem;
	right: 1.5rem;
}
.nav-item .nav-enter span{
	color: #8c8c8c;
}
.nav-item .nav-enter i {
	display: block;
	width: .42rem;
	height: .42rem;
	background: url(../image/enter.png) no-repeat center center;
	background-size: cover;
	margin: 0 auto;
}
.nav-item .nav-personal{
	position: absolute;
	top: .16rem;
	right: .46rem;
}
.nav-item .nav-personal span{
	color: #8c8c8c;
}
.nav-item .nav-personal i {
	display: block;
	width: .41rem;
	height: .43rem;
	background: url(../image/personal.png) no-repeat center center;
	background-size: cover;
	margin: 0 auto;
}