.studio_nav {
  height: 70px;
  background-color: #3daae2;
}
.studio_nav .nav_list {
  width: 1140px;
  margin: 0 auto;
  overflow: visible;
}
.studio_nav .nav_list .nav_item {
  width: 114px;
  text-align: center;
  font-size: 16px;
  line-height: 70px;
  color: #fff;
  float: left;
  position: relative;
}
.studio_nav .nav_list .nav_item:hover {
  background-color: #2a9cd7;
}
.studio_nav .nav_list .nav_item:hover .nav_item_list {
  display: block;
}
.studio_nav .nav_list .nav_item a {
  display: block;
  color: inherit;
}
.studio_nav .nav_list .nav_item .nav_item_list {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 114px;
  background-color: #2a9cd7;
}
.studio_nav .nav_list .nav_item .nav_item_list .nav_item_item {
  line-height: 50px;
}
.studio_nav .nav_list .nav_item .nav_item_list .nav_item_item:hover {
  background-color: #3daae2;
}
.studio_box {
  margin-top: 23px;
}
.studio_box .studio_left {
  width: 276px;
}
.studio_box .studio_right {
  width: 846px;
}
.echart_main {
  width: 276px;
  height: 128px;
  background-color: #fff;
  position: relative;
}
.echart_main .tip {
  position: absolute;
  z-index: 999999;
  width: 42px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  top: 54px;
  left: 117px;
}
.number_list {
  padding: 20px;
  background-color: #fff;
}
.number_list li {
  float: left;
  width: 66px;
  margin-right: 19px;
}
.number_list li:last-child {
  margin-right: 0;
}
.number_list li span {
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 44px;
}
.info_box {
  padding: 39px 20px 54px;
  background-color: #fff;
}
.info_box .info img {
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
.info_box .info .text {
  float: left;
  padding-left: 14px;
}
.info_box .info .text span {
  display: block;
}
.info_box .info .text .name {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  padding-top: 8px;
  color: #222;
}
.info_box .info .text .type {
  font-size: 14px;
  line-height: 30px;
  color: #666;
}
.info_box .num {
  margin-top: 26px;
}
.info_box .num div {
  float: left;
  width: 78px;
  text-align: center;
}
.info_box .num div span {
  display: block;
}
.info_box .num div span:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  color: #4b4b4b;
}
.info_box .num div span:nth-child(2) {
  font-size: 15px;
  line-height: 29px;
  color: #9b9b9b;
}
.info_box .num em {
  float: left;
  width: 1px;
  height: 40px;
  background-color: #ebebeb;
  margin-top: 13px;
}
.info_box .join {
  display: block;
  width: 224px;
  height: 40px;
  background-color: #1b9fe2;
  margin: 26px auto 0;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 0 5px 0px 0px #1689c3;
  position: relative;
  overflow: hidden;
}
.info_box .join .text {
  position: relative;
}
.info_box .join:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--left);
  top: var(--top);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #1ecec8, transparent);
  transform: translate(-50%, -50%);
  transition: width .2s ease, height .2s ease;
}
.info_box .join:hover::before {
  --size: 400px;
}
