<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 一比一像素还原 -->
    <script src="./../js/dpr.js"></script>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="./../css/reset.css">
    <!-- 工具类 -->
    <link rel="stylesheet" href="./../css/tools.css">
    <!-- 全局样式 -->
    <link rel="stylesheet" href="./../css/index.css">
    <!--引入同名样式-->
    <link rel="stylesheet" href="../css/msg.css" />
</head>

<body>
    <div id="msg_box">
        <ul class="msg-title">
            <li 
                v-for="item,index in showTitle"
                @click="changeActiveElement(index)"
                :class="{ active : showNum == index }"
            >{{item}}</li>
        </ul>
        <ul class="msg-list">
            <li 
                v-for="item,index in msgList" 
                :class="{ open : item.show }"
                @click="changeOpenState(item.id)"
            >
                <div class="msg-info">
                    <h3>
                        <span class="blue">【优惠券】</span>您填写的会议预报名已通过
                    </h3>
                    <time>2018.02.02</time>
                </div>
                <div class="over">
                    <div>亲爱的xxx：</div>
                    <div class="text">
                          通过，请尽快填写确认信息表确认您的信息
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#msg_box',
            data: {
                showTitle:['课程动态','专家动态','会议动态','系统通知'],
                showNum: 0,
                msgList:[
                    {
                        id:1,
                        show:false
                    },
                    {
                        id:3,
                        show:true
                    },
                    {
                        id:5,
                        show:false
                    }
                ]
            },
            methods: {
                // 切换选择的数字
                changeActiveElement: function (num) {
                    this.showNum = num;
                },
                changeOpenState:function(id){
                    console.log()
                    this.msgList.forEach(function (e) { 
                        if(e.id == id){
                            e.show = !e.show
                        };
                    });
                },
            },
            computed: {

            },
        });
    </script>
</body>

</html>