<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 一比一像素还原 -->
    <script src="./../js/dpr.js"></script>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="./../css/reset.css">
    <!-- 工具类 -->
    <link rel="stylesheet" href="./../css/tools.css">
    <!-- 全局样式 -->
    <link rel="stylesheet" href="./../css/index.css">
    <!--引入同名样式-->
    <link rel="stylesheet" href="../css/msg.css" />
</head>

<body>
    <div id="msg_box">
        <ul class="msg-title">
            <li v-for="item,index in showTitle" @click="changeActiveElement(index)" :class="{ active : showNum == index }">
                {{item.title}}
                <span></span>
            </li>
        </ul>
        <ul class="msg-list">
            <li v-for="item,index in msgList" :key="item.id">
                <div class="msg-info" @click="changeOpenState(item.id)">
                    <h3>
                        <span class="blue">【优惠券】</span>您填写的会议预报名已通过
                    </h3>
                    <time>2018.02.02</time>
                </div>
                <div :class="{ open : item.show , over : true }">
                    <div class="t">亲爱的xxx：</div>
                    <div class="text">
                        通过，请尽快填写确认信息表确认您的信息
                        通过，请尽快填写确认信息表确认您的信息
                    </div>
                    <div class="del" @click="delMsgItem(item.id)"></div>
                </div>
            </li>
        </ul>
    </div>

    <script src="../js/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#msg_box',
            data: {
                showTitle: [
                    {
                        title: '课程动态',
                        type:null,
                    },
                    {
                        title: '专家动态',
                        type:null,
                    },
                    {
                        title: '会议动态',
                        type:3,
                    },
                    {
                        title: '系统通知',
                        type:null,
                    }
                ],
                showNum: 0,
                msgList: [
                    {
                        id: 1,
                        show: false
                    },
                    {
                        id: 3,
                        show: true
                    },
                    {
                        id: 5,
                        show: false
                    }
                ]
            },
            methods: {
                // 切换选择的数字
                changeActiveElement: function (num) {
                    this.showNum = num;
                },
                // 改变开关状态
                changeOpenState: function (id) {
                    this.msgList.forEach(function (e) {
                        if (e.id == id) {
                            e.show = !e.show
                        };
                    });
                },
                // 删除消息
                delMsgItem:function(id){
                    var _this = this;
                    this.msgList.forEach(function (e,i) {
                        if (e.id == id) {
                            console.log(i)
                            _this.msgList.splice(i,1);
                            console.log(_this.msgList)
                        };
                    });
                },
            },
            mounted () {
              console.log(2)  
            },
            computed: {

            },
        });
    </script>
</body>

</html>