.jump-box-bg{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.jump-box-bg .jump-content{
    margin:  auto;
    width: 100px;
    height: 200px;
    background-color: #fff;
}