body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #666666;
}
input {
  border: none;
  outline: none;
  background: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-family: PingFang SC, STHeitiSC-Light, Helvetica-Light, arial, sans-serif;
}
